<script type="text/javascript" src="/js/lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/knockout/dist/knockout.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src='/js/adapter.js'></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/js/Communicator.js"></script>
<script type="text/javascript" src="/js/Room.js"></script>